/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #576074 #FFFFFF;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
    border-radius: 0px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $modal-input-bg;
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
    background-color: #3e4452;
}
