// defaults
$white: rgb(255, 255, 255);
$dark: rgb(0, 0, 0);
$blue: rgb(0, 89, 255);

// custom
$container-bg: #c2c4ff21;
$background: #161a27;
$circles-bg: rgba(255, 255, 255, 0.2);
$modal-content: #252a38;
$modal-text: #3a3f4e;
$modal-input-bg: #c2c4ff21;
$input-placeholder: #ffffff7a;