.btn-loggout {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
