@import '@vueup/vue-quill/dist/vue-quill.snow.prod.css';
@import '../layout/scrollbar';

.ql-toolbar,
.ql-container {
    border-radius: 4px;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
    border-color: #ffffff70;
    background-color: #1d212b;
}

.ql-container {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.ql-toolbar {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ql-stroke,
.ql-picker-label {
    stroke: #6b7a91 !important;
    color: #6b7a91 !important;
}

.ql-editor {
    overflow: auto;
    max-height: 20rem;
    font-size: 1.2rem;

    ol, 
    ul {
        padding: 0px;
        padding-left: 1.2rem;
    }
}

.ql-picker-options {
    background-color: #4c5367 !important;
    color: $white;
    border: none !important;
    backdrop-filter: blur(10px);
    :hover {
        background-color: #646c86 !important;
    }
    .ql-picker-item.ql-selected {
        background-color: #646c86 !important;
        color: $white !important;
    }

    .ql-picker-item {
        border-radius: 4px;
    }
}

.ql-picker-label {
    background-color: transparent !important;
    border: none !important;
}

.ql-formats {
    button:hover {
        background-color: transparent !important;
        .ql-stroke {
            stroke: $white !important;
        }
    }
}
