* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: none;
  transition: background-color 9999s ease-in-out 0s;
  color: white !important;
  -webkit-text-fill-color: white;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #161a27;
}

#app {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.container-login,
.container-register {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 250px;
  height: 85vh;
  gap: 10px;
}

.main-container .table-list::-webkit-scrollbar {
  display: none;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main-container header,
.table-list {
  width: 100%;
  border: 1px solid #cbc;
  padding: 15px 5px;
  border-radius: 4px;
  background-color: transparent;
  backdrop-filter: blur(4px);
}

.main-container .table-list {
  padding: 0px;
  padding-bottom: 15px;
}

.main-container header,
.table-list {
  min-width: 600px;
  overflow: auto;
}

.main-container .table-list {
  max-height: 500px;
  min-height: 500px;
}

.table-list {
  z-index: 2;
}

.main-container .table-list table {
  position: relative !important;
}

.main-container .table-list table thead > tr > th {
  position: sticky !important;
  background-color: transparent;
  transition: all 400ms;
}
.main-container .table-list table thead .sticky-scroll {
  top: -1px;
  background-color: rgb(53 57 76);
}

@media (max-width: 600px) {
  .main-container header,
  .table-list {
    min-width: 0px;
  }

  .main-container header nav {
    flex-direction: column !important;
  }

  .main-container header nav div {
    gap: 0px !important;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse !important;
  }

  .main-container {
    width: auto;
  }
  #app,
  body {
    height: auto;
  }

  .container-home {
    width: 100%;
  }

  .modal-content {
    width: 95% !important;
  }

  .table-list {
    min-height: 300px;
    max-height: 300px;
  }

  body {
    padding: 10px;
  }
}

.main-container .table-list .table > :not(caption) > * > * {
  border: none !important;
  vertical-align: middle;
}

.table-list table thead {
  height: 50px;
  border-bottom: 1px solid white;
}

.main-container header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main-container header nav input {
  width: 100%;
  font-family: Varela Round, sans-serif;
  background-color: #c2c4ff21 !important;
  color: white !important;
}

.container-login input,
.container-register input {
  color: white !important;
  background-color: #c2c4ff21 !important;
}

.main-container header nav button {
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
}

.modal {
  width: 100%;
  height: 100%;
}

.modal-dialog {
  height: 100%;
  padding: 0px;
  margin: 0px !important;
  display: flex;
  max-width: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 600px;
  height: 600px;
}

.main-container header nav .btn-search {
  border: 1px solid rgb(18, 180, 132) !important;
  color: rgb(18, 180, 132) !important;
}

.main-container header nav .btn-search:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(18, 180, 132);
}

.main-container header nav .btn-add {
  border: 1px solid rgb(40, 133, 255) !important;
  color: rgb(40, 133, 255) !important;
}

.main-container header nav .btn-add:hover {
  background-color: rgb(40, 133, 255);
  color: rgb(255, 255, 255) !important;
}

.btn-loggout {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 5s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
